.shop-container {
  background-image: url("C:\Users\stiwa\OneDrive\Desktop\BikeBazar\bikebazar\src\shopbg.webp");
  padding: 2rem;
  background-size: cover;
  min-height: 100vh;
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
}

.bike-card {
  background-color: rgba(51, 51, 51, 0.8);
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  overflow: hidden;
  opacity: 0.8;
}

.bike-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(51, 51, 51, 1);
}

.bike-card img {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.bike-card-body {
  display: flex;
  align-items: center;
}

.bike-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bike-info {
  flex-grow: 1;
}

.bike-name {
  color: #e76f51;
  font-weight: bold;
}

.bike-details {
  color: #ddd;
  font-size: 0.9rem;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.buy-now-button {
  color: #e76f51;
  border-color: #e76f51;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.buy-now-button:hover {
  background-color: #e76f51;
  color: #fff;
}
